<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<body>
    <img src="assets/background.jpg" class="bg-image"/>
  
    <div class="login-container">
       <div class="login-card">
         <div class="logo">
         <img [src]="companyimage" alt="Logo" />
      </div>
  
          <h2 class="title">Login</h2>
          <p class="subtitle">Login below to access your account</p>
  
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <input type="text" formControlName="logintext" class="input-field" id="username" placeholder=" " />
            <label for="username" class="input-label">Username or Email</label>
          </div>
  
          <div class="form-group">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="input-field" id="password" placeholder=" " />
            <label for="password" class="input-label">Password</label>
            <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"></i>
          </div>

          <button class="login-btn" type="submit">SIGN IN</button>
        </form>
  
          <div class="links">
             <a href="#">Forgot Password?</a>
             <a href="#" class="signup">Sign Up</a>
          </div>
       </div>
    </div>
  </body>