<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<body>
  
    <div class="login-container">
       <div class="login-card">
         <div class="logo">
         <img [src]="companyimage" alt="Logo" />
      </div>
  
          <h2 class="title">Login</h2>
          <p class="subtitle">Login below to access your account</p>
  
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <input type="text" formControlName="logintext" class="input-field" id="logintext" placeholder=" " required
            [ngClass]="{'is-invalid': loginForm.get('logintext')?.invalid && loginForm.get('logintext')?.touched}"/>
            <label for="logintext" class="input-label">Username or Email</label>
          </div>
  
          <div class="form-group">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="input-field" id="password" placeholder=" " required
            [ngClass]="{'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}"/>            
            <label for="password" class="input-label">Password</label>
            <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"></i>
          </div>

          <button type="submit" class="login-btn" >SIGN IN</button>
        </form>
  
          <div class="links">
            <a [routerLink]="['/ForgetPassword']">Forgot Password?</a>
            <a [routerLink]="['/SelfRegister']" class="signup">Sign Up</a>
          </div>
       </div>
    </div>
  </body>