<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="container">
    <div class="card">
      <h2>Forgot Credentials</h2>
  
      <form [formGroup]="forgetPasswordForm">
        <div class="form-group">
          <label for="email">Enter your registered Email to verify your account</label>
          <input 
            type="email" 
            id="email" 
            placeholder="Enter your email" 
            formControlName="UsernameAndEmail">
        </div>
  
        <div *ngIf="showPasswordFields">
            <div class="form-group password-group">
                <label for="newPassword">New Password</label>
                <div class="input-wrapper">
                  <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" placeholder="Enter new password" formControlName="New_Password">
                  <i class="fa-solid" [ngClass]="showNewPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="toggleVisibility('new')"></i>
                </div>
              </div>
              
              <div class="form-group password-group">
                <label for="confirmPassword">Confirm Password</label>
                <div class="input-wrapper">
                  <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" placeholder="Confirm password" formControlName="Confirm_Password">
                  <i class="fa-solid" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="toggleVisibility('confirm')"></i>
                </div>
              </div>
        </div>
  
        <div class="button-group">
          <button class="btn back" type="button" [routerLink]="'/login'">← BACK TO LOGIN</button>
          <button 
            *ngIf="!showPasswordFields" 
            type="button" 
            class="btn continue" 
            (click)="checkUserExists()">
            VERIFY →
          </button>
          <button 
            *ngIf="showPasswordFields" 
            type="button" 
            class="btn continue" 
            (click)="forgetPassword()" 
            [disabled]="forgetPasswordForm.invalid">
            RESET PASSWORD →
          </button>
        </div>
  
        <p class="message">{{ message }}</p>
      </form>
    </div>
  </div>
  