<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="container">
  <div class="card">
    <h2>Forgot Password</h2>

    <form [formGroup]="forgetPasswordForm">
      <div class="form-group">
        <label for="email">Enter your registered Email</label>
        <input
          type="email"
          id="email"
          placeholder="Enter your email"
          formControlName="email"
        />
      </div>

      <div class="button-group">
        <button class="btn back" type="button" [routerLink]="'/login'">
          ← BACK TO LOGIN
        </button>
        <button
          type="button"
          class="btn continue"
          (click)="sendResetLink()"
          [disabled]="forgetPasswordForm.invalid"
        >
          SEND RESET LINK →
        </button>
      </div>

      <p
      class="message"
      [ngClass]="{
        success: success && !loading,
        error: !success && !loading,
        loading: loading
      }"
    >
      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
      {{ message }}
    </p>
    
    </form>
  </div>
</div>
