<div class="stud-header">
    <div class="title">
        <i class="fas fa-users"></i> 
       Students
    </div>
</div>

<body>
    <div class="tab-container">
        <div
            class="tab"
            [class.active]="isActive('personInfo')"
            [class.completed]="isCompleted('personInfo')"
            (click)="setActiveTab('personInfo')">
            Person Information
        </div>

        <div
            class="tab"
            [class.active]="isActive('assignTrainings')"
            [class.completed]="isCompleted('assignTrainings')"
            (click)="setActiveTab('assignTrainings')">
           Advanced Assign Trainings
        </div>

        <div
            class="tab"
            [class.active]="isActive('reviewConfirm')"
            [class.completed]="isCompleted('reviewConfirm')"
            (click)="setActiveTab('reviewConfirm')">
            Review / Confirm
        </div>
    </div>

<br />

    <div class="tab-content">
    <div *ngIf="isActive('personInfo')">
        <form #studentForm="ngForm" (ngSubmit)="addOrUpdateStudent(studentForm)">
    <div class="form">
        <div class="form-group">
            <label>Student Number</label>
            <input type="text" name="student_No" placeholder="Student unique identifier"
            [(ngModel)]="studentData.student_No" #studentNo="ngModel" required
            [ngClass]="{'invalid-input': (!studentData.student_No && studentData.touchedFields) || (studentNo?.invalid && studentNo?.touched) || studentNumberExists}"
            (input)="checkStudentNumber()" (blur)="checkStudentNumber()">
                <span *ngIf="studentNo?.invalid && studentNo?.touched" class="error-message">
                    Student No is required.
                </span>  
                <span *ngIf="studentNumberExists" class="error-message">
                    Already exists.
                </span>                   
        </div>
        
        <div class="form-group">
            <label>First Name</label>
            <input type="text" name="firstname" [(ngModel)]="studentData.firstname" 
            (keyup)="generateUsernameAndPassword()"
            [(ngModel)]="studentData.firstname" #firstname="ngModel" required
            [ngClass]="{'invalid-input': (!studentData.firstname && studentData.touchedFields) || (firstname?.invalid && firstname?.touched)}">
            <span *ngIf="firstname.invalid && firstname.touched" class="error-message">
                Firstname is required.
            </span>  
        </div>
        
        <div class="form-group">
            <label>Middle Name</label>
            <input type="text" name="middlename" [(ngModel)]="studentData.middlename">
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="lastname" [(ngModel)]="studentData.lastname" 
            (keyup)="generateUsernameAndPassword()"
            [(ngModel)]="studentData.lastname" #lastname="ngModel" required
            [ngClass]="{'invalid-input': (!studentData.lastname && studentData.touchedFields) || (lastname?.invalid && lastname?.touched)}">
            <span *ngIf="lastname.invalid && lastname.touched" class="error-message">
                Lastname is required.
            </span> 
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" [(ngModel)]="studentData.email"
                #email="ngModel" required email pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                [ngClass]="{'invalid-input': (!studentData.email && studentData.touchedFields) || (email?.invalid && email?.touched) || studentEmailExists}"
                (input)="checkEmail()" (blur)="checkEmail()">
        
            <span *ngIf="email.errors?.['required'] && email.touched" class="error-message">
                Email is required.
            </span>
        
            <span *ngIf="!email.errors?.['required'] && email.errors?.['pattern'] && email.touched" class="error-message">
                Not valid.
            </span>
        
            <span *ngIf="studentEmailExists" class="error-message">
                Already exists.
            </span>   
        </div>
        

        <div class="form-group">
            <label>Roles/Permissions</label>
            <select name="role_Id" [(ngModel)]="studentData.role_Id" #role_Id="ngModel" required
                class="form-control" style="width: 62%;"
                [ngClass]="{'invalid-input': (role_Id.invalid && role_Id.touched) || (!studentData.role_Id && studentData.touchedFields)}">
                
                <option value="" disabled>-- Select Role --</option>
                <option *ngFor="let role of roles" [value]="role.role_Id">{{ role.role_Name }}</option>
            </select>
                    <span *ngIf="role_Id.invalid && role_Id.touched" class="error-message">
                Role is required.
            </span>
        </div>
        
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" [(ngModel)]="studentData.username">
        </div>
        
        <div class="form-group">
            <label style="margin-bottom: 12px;">Password</label>
            <div class="form-group password-container" style="width: 62%;">
                <input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="studentData.password">
                <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"></i>
            </div>
        </div>
        
        <div class="form-group">
            <label>Archive Date</label>
            <input type="date" name="archive_Date" [(ngModel)]="studentData.archive_Date">
        </div>

        <!-- Show More / Show Less Button -->
        <div class="show-more-container">
            <hr class="line">
            <button type="button" class="show-more-btn" (click)="toggleMoreField()">
                {{ buttonText }} <i class="fa" [ngClass]="showField ? 'fa-chevron-circle-up' : 'fa-chevron-circle-down'"></i>
            </button>
        </div>

        <div  *ngIf="showField" class="show-more-fields">
            <div class="form-group">
                <label>Phone No</label>
                <input type="text" name="phone_No" [(ngModel)]="studentData.phone_No" #phone_No="ngModel" maxlength="15" pattern="^[0-9]*$">
                <span *ngIf="phone_No.errors?.['pattern']" class="error-message">
                    Only Numeric allowed.
                </span>
            </div>

            <div class="form-group">
                <label>Address</label>
                <textarea rows="5" name="address" [(ngModel)]="studentData.address"></textarea>
                </div>

            <div class="form-group">
            <label>City</label>
            <input type="text" name="city" [(ngModel)]="studentData.city">
            </div>

            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" name="postal_Code" [(ngModel)]="studentData.postal_Code">
                </div>

            <div class="form-group">
                <label>State</label>
                <input type="text" name="state" [(ngModel)]="studentData.state">
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <input type="text" name="country" [(ngModel)]="studentData.country"> 
                    </div>
                </div>
    </div>
    </form>
    </div>
    </div>

    <div *ngIf="isActive('assignTrainings')">

        <div class="assign-trainings-container">
        <div class="search-bar">
            <label for="search">Search</label>
            <input type="text"
            id="search"
            [(ngModel)]="searchValue"
            (input)="searchTraining()"
             placeholder="Search Training">
           <div class="action-buttons">
                <label class="toggle-switch">
                  <input type="checkbox" [(ngModel)]="showSelectedOnly" (change)="toggleShowSelected()">
                  <span class="slider"></span>
                </label>
                <span class="toggle-label">Show Selected</span>
              </div>
            </div>
    
        <table class="training-table">
            <thead>
                <tr>
                        <th><input type="checkbox"
                            [(ngModel)]="selectAll" 
                            (change)="toggleSelectAll()"></th>
                    <th>Training Names</th>
                    <th>Training Code</th>
                    <th>Training Type</th>
                </tr>
            </thead>
            <tbody  *ngIf="!noDataFound">
                <tr *ngFor="let t of filteredTrainings  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" >
                    <td><input type="checkbox" style="accent-color: #134c68;"
                        [(ngModel)]="t.selected"
                        (change)="updateSelectAll()"></td>
                        <td hidden>{{t.training_id}}</td>
                    <td>{{ t.training_name }}</td>
                    <td>{{ t.training_code }}</td>
                    <td>{{ t.trainingtype_name }}</td>
                  </tr>
            </tbody>
        </table>
        <div *ngIf="noDataFound" class="no-data-message">
            <span class="img-search">
                <img src="assets/no-search.jpg" alt="No Student img" style="width: 150px; opacity: 0.8;">
                <span style="display: flex; justify-content: center;margin-top: 30px;">No Training found.</span>
                </span>
                      </div>
  
          
        <div class="pagination-container">
            <!-- Flex container to align dropdown and pagination in one row -->
            <div class="pagination-controls">
              <div class="items-per-page">
                <select id="itemsPerPage" [(ngModel)]="itemsPerPage">
                  <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
                </select>
                <span> entries per page</span>
              </div>
              
              <pagination-controls (pageChange)="p = $event" previousLabel="Prev" nextLabel="Next"></pagination-controls>
            </div>
          </div>          
    </div>
    </div>

    <div *ngIf="isActive('reviewConfirm')">
        <div class="review-box">
            <div class="row">
                <div class="label">Student Number :</div>
                <div class="value">{{ studentData.student_No || 'NA' }}</div>
            </div>
            <div class="row">
                <div class="label">Username :</div>
                <div class="value">{{ studentData.username || 'NA' }}</div>
            </div>
            <div class="row">
                <div class="label">Email :</div>
                <div class="value">{{ studentData.email || 'NA' }}</div>
            </div>
            <div class="row">
                <div class="label">Role :</div>
                <div class="value">{{ getRoleNameById(studentData.role_Id) || 'NA' }}</div>
            </div>
            </div>
    </div>
</body>

<div class="btn-container">
    <button class="btn cancel" [routerLink]="['/Student']">
        <i class="fas fa-times"></i> CANCEL
    </button>
    
    <button class="btn prev" *ngIf="activeTab !== 'personInfo'" (click)="prevStep()">
        <i class="fas fa-chevron-left"></i> PREV
    </button>

    <!-- Show Save and Save & Exit buttons only on reviewConfirm tab -->
    <ng-container *ngIf="activeTab === 'reviewConfirm'">
        <button class="btn save" (click)="saveReview()">
            <i class="fas fa-save"></i> SAVE
        </button>
        <button class="btn save-exit" (click)="saveAndExit()">
            <i class="fas fa-sign-out-alt"></i> SAVE & EXIT
        </button>
    </ng-container>

    <button class="btn next" *ngIf="activeTab !== 'reviewConfirm'" (click)="nextStep()">
        NEXT <i class="fas fa-chevron-right"></i>
    </button>

    <button class="btn ready" *ngIf="activeTab !== 'reviewConfirm'" (click)="readyToFinish()">
        <i class="fas fa-flag"></i> READY TO FINISH
    </button>
</div>

