<!-- Main Container -->
<div class="container" *ngIf="!isLoginPage">
    <!-- Sidebar -->
    <div class="sidebar" [class.collapsed]="isCollapsed">
        <div class="header">
            <button class="toggle-btn" (click)="toggleSidebar()">
                <span class="arrow">&#x276F;</span>
            </button>
            <h4>Menu</h4>
        </div>

        <div class="menu" >
            <ul>
                <li kendotooltip title="Dashboard" [routerLink]="['/studentdashboard']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <span class="icon">🏠</span>
                    <span class="text">Dashboard</span>
                </li>
                <li kendotooltip title="IDP" [routerLink]="['/IDP']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <span class="icon">📚</span><span class="text">IDP</span>
                </li>
                <li kendotooltip title="My Enrollment" [routerLink]="['/myenrollments']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <span class="icon">📝</span><span class="text">My Enrollment</span>
                </li>
                <li kendotooltip title="Course Catalog" [routerLink]="['/coursecatalog']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <span class="icon">📖</span><span class="text">Course Catalog</span>
                </li>
                <li kendotooltip title="Training Transcript" [routerLink]="['/transcript']"
                    routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                    <span class="icon">📜</span><span class="text">Training Transcript</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="navbar">
            <div class="nav-left">

                <a [routerLink]="['/studentdashboard']" title="Return to Dashboard"><img [src]="companyimage"
                        class="company-logo"></a>

            </div>

            <div class="nav-right">

                <button kendoButton size="large" themeColor="primary" title="Switch to Admin" *ngIf="userRole=='Admin'"
                    (click)="switchToAdmin()">Admin</button>

                <div class="user-profile" (click)="toggleDropdown($event)">

                    <img [src]="profileImage" class="profile-Image">
                    <span>{{ firstname }} {{ lastname }}</span>
                </div>
                <div class="dropdown-menu" [class.show]="dropdownVisible">
                    <ul>
                        <li [routerLink]="['/viewProfile']" (click)="dropdownVisible = false"><fa-icon
                                [icon]="faUser"></fa-icon> View Profile</li>
                        <li (click)="logout()"><fa-icon [icon]="faArrowRightFromBracket"></fa-icon> Logout</li>
                    </ul>
                </div>
            </div>
        </div>

        <app-loader *ngIf="isLoading"></app-loader>

        <!-- Page Content -->
        <div class="page-content" *ngIf="!isLoading">
            <router-outlet />
        </div>
    </div>
</div>
<app-footer *ngIf="!isLoginPage"></app-footer>

<!-- Login Page Content -->
<div *ngIf="isLoginPage">
    <router-outlet />
</div>