<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="container">
  <div class="card">
    <h2>Forgot Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Email</label>
        <input formControlName="email" />
      </div>

      <div class="form-group">
        <label>New Password</label>
        <div class="password-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="new_password" />
          <i class="fa" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"
             (click)="togglePasswordVisibility()"></i>
        </div>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <div class="password-wrapper">
          <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirm_password" />
          <i class="fa" [class.fa-eye]="showConfirmPassword" [class.fa-eye-slash]="!showConfirmPassword"
             (click)="toggleConfirmPasswordVisibility()"></i>
        </div>
      </div>

      <div class="button-group">
        <button type="submit" class="btn continue" [disabled]="resetForm.invalid">Reset Password</button>
      </div>
<br/>
      <div *ngIf="error" style="color: red;">{{ error }}</div>
    </form>
  </div>
</div>
